* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  /* background-color: red; */
  display: flex;
  gap: 40px;
}

.image-container {
  margin-right: 40px;
}

.uppercased {
  text-transform: uppercase;
}

.product {
  border: 5px solid black;
  width: 825px;
  margin: 40px auto;
}

.product-title {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
  position: relative;
}

.product-title::before {
  content: "SALE";
  background-color: rgb(218, 0, 0);
  color: #f7f7f7;
  font-size: 15px;
  padding: 5px 15px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -40px;
  letter-spacing: 3px;
}

.image {
  /* margin-bottom: 10px; */
}

/* PRODUCT INFO */
.info-container {
  margin-right: 40px;
  margin-top: 20px;
  flex: 1;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  font-size: 25px;
}

.shipping {
  font-size: 10px;
  font-weight: bold;
  color: #696969;
}

.product-description {
  margin-bottom: 10px;
}
/* MORE INFO */

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color-blocks {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.color-blocks div {
  padding: 10px;
}

.black-block {
  background-color: black;
}

.blue-block {
  background-color: blue;
}

.red-block {
  background-color: red;
}

.yellow-block {
  background-color: rgb(235, 235, 0);
}

.green-block {
  background-color: green;
}

.brown-block {
  background-color: brown;
}

/* PRODUCT DETAILS */

.details-container {
  margin-top: 20px;
  flex: 1;
}

.details-title {
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-cart {
  background-color: black;
  color: white;
  border: none;
  border-top: 5px solid black;
  font-size: large;
  cursor: pointer;
  width: 100%;
  height: 50px;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
